@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .main-menu a {
    font-size: 0.8rem;
  }
  .main-menu .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: .5rem;
  }
  .navbar-brand img {
    width: 83%;
  }
  .main-menu .navbar-brand {
    margin-right: 0;
  }

  .footer-social {
    padding: 15px 0px;
  }

}

@media (min-width: 576px) {

}


@media (min-width: 768px) {

}




@media (max-width: 1200px) {
  .stop {
      padding: 15px;
  }

  .c-img{ position: relative; top: 0;}
  #main-slide .carousel-caption{
        bottom: 16%;
  }

    .h150{ height: 0; }
    .list-head {
    padding-right: 0;
    padding-left: 0;
  }
  .remark {
      padding: 50px 0px;
  }
  .social-share a{ display: block; margin-bottom: 5px; width: 100px; }
}

@media (max-width: 992px) {
  .footer-social h4:after {
    top: 19px;
  }

  .footer-social span{ display: block; margin-top: 15px; }
  .social-footer {
    position: relative;
    right: auto;
    top: 0;
    padding: 15px 0 0 0;
    text-align: center;
  }

    .news-group .card-body img{ width: 50% }
  

}

@media (max-width: 768px) {
  .content-p-top {
      padding-top: 40px;
  }
  .content-p-bottom {
      padding-bottom: 40px;
  }

  
  .footer-social h4:after {
    display: none;
  }

  .footer-social .link{ margin: 7px 0; }
  .footer-social{
        padding: 15px;
  }

  .c-img{ display: none; }
  .d-center{ text-align: center; }
  .d-right{ text-align: right; }

  #service2  .order-2,#content2  .order-2,#news .order-2{
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  #service2  .order-1,#content2  .order-1,#news .order-1{
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    order: 2;
  }

  .ser h3.title{ margin-top: 15px; }
  .load-more {
    margin: 20px 0;
  }

  .banner-caption h2 {
    font-size: 1.5rem;
  }

  .d-top{margin-top: 20px;}
  .d-top0{ padding-top: 0; }
  .c-left {
    padding-right: 15px;
  }
  .social-share a{ display: inline-block; margin-bottom: 5px; width: 100px; }

  .nav-footer ul{ display: none; }
  .nav-footer  h5{ cursor: pointer; }

}

@media (max-width: 567px) {

  .main-menu .navbar-brand {
      margin-right: 0;
      padding-right: 0;
      width: 70%;
  }
  .accordion .card-body {
    padding: 30px 15px;
  }
  .accordion .card-header button {
    font-size: 1rem;
  }
  .list-hospital ul li{    padding: 9px 15px;}
  .label-filter{     text-align: left;
    padding: 16px 20px 0 20px; }
}

@media (max-width: 480px) {

  .footer-social span{ margin-top: 5px; }
  .footer-social .link {
    margin: 10px 0;
  }
}
