{% extends "layout_backend.twig" %}

{% block content %}
<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class="card-box login">
        <div class="panel-heading"> 
            <h3 class="text-center"> <img src="{{ link_img }}logo.png" width="100"> </h3>
        </div> 
        <div class="panel-body">
            <form class="form-horizontal m-t-20" action="{{ base_url('backend/home') }}" method="post">
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" name="user" value="" type="text" required="" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" name="pass" value="" type="password" required="" placeholder="Password">
                    </div>
                </div>
                <div class="form-group text-center m-t-40">
                    <div class="col-xs-12">
                        <button class="btn-login btn btn-gold btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
                    </div>
                </div>
            </form> 
        </div>   
    </div>    
</div>
{% endblock %}

{% block js %}{% endblock %}