{% extends "layout_backend.twig" %}

{% block content %}
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default panel-border">
                    <div class="panel-heading no-slide">
                        <h3 class="panel-title">ให้เราติดต่อคุณ</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table m-b-0 toggle-arrow-tiny demo-foo-accordion">
                                        <thead>
                                            <tr>
                                                <th data-toggle="true">ชื่อ</th>
                                                <th>ประกันที่สนใจ</th>
                                                <th>วันที่</th>
                                                <th data-hide="all">อีเมล</th>
                                                <th data-hide="all">เบอร์โทรศัพท์</th>
                                                <th data-hide="all">วันเกิดลูก</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>ชื่อ</td>
                                                <td>ประกันที่สนใจ</td>
                                                <td>20/05/2015 00:00:00</td>
                                                <td>อีเมล</td>
                                                <td>เบอร์โทรศัพท์</td>
                                                <td>วันเกิดลูก</td>
                                            </tr>
                                            <tr>
                                                <td>ชื่อ</td>
                                                <td>ประกันที่สนใจ</td>
                                                <td>20/05/2015 00:00:00</td>
                                                <td>อีเมล</td>
                                                <td>เบอร์โทรศัพท์</td>
                                                <td>วันเกิดลูก</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default panel-border">
                    <div class="panel-heading no-slide">
                        <h3 class="panel-title">ติดต่อประกันลูก</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table m-b-0 toggle-arrow-tiny demo-foo-accordion">
                                        <thead>
                                            <tr>
                                                <th data-toggle="true">ชื่อ</th>
                                                <th>เรื่อง</th>
                                                <th>วันที่</th>
                                                <th data-hide="all">อีเมล</th>
                                                <th data-hide="all">เบอร์โทรศัพท์</th>
                                                <th data-hide="all">เลขบัตรประชาชน*</th>
                                                <th data-hide="all">เลขที่กรมธรรม์</th>
                                                <th data-hide="all">ข้อความ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>ชื่อ</td>
                                                <td>เรื่อง</td>
                                                <td>20/05/2015 00:00:00</td>
                                                <td>อีเมล</td>
                                                <td>เบอร์โทรศัพท์</td>
                                                <td>เลขบัตรประชาชน*</td>
                                                <td>เลขที่กรมธรรม์</td>
                                                <td>ข้อความ</td>
                                            </tr>
                                            <tr>
                                                <td>ชื่อ</td>
                                                <td>เรื่อง</td>
                                                <td>20/05/2015 00:00:00</td>
                                                <td>อีเมล</td>
                                                <td>เบอร์โทรศัพท์</td>
                                                <td>เลขบัตรประชาชน*</td>
                                                <td>เลขที่กรมธรรม์</td>
                                                <td>ข้อความ</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}